body {
    font-family: Arial, Helvetica, sans-serif;
    background: #91DDCF;
}

.number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}


.game-box {
    background-color: #F7F9F2;
    text-align: center;
    border: 1px solid black;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.game-title {
    display: flex;
    align-items: center;
}

.game-title h1 {
    padding-left: 13px;
}

.attempts-chance-area {
    display: flex;
    justify-content: center;
}

.div-at {
    padding-left: 5px;
    padding-right: 5px;
}

#chance-area, #attempts-area {
    text-align: start;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

#history-box {
    display: flex;
    margin-bottom: 10px;
}
.input-history {
    padding-left: 20%;
}
#enteredNumber {
    padding-left: 5px;
}


.main-img {
    height: 20vh;
}


#user-input[type='number'] {
    width: 240px;
    height: 50px;
    font-size: 1rem;
    padding-left: 25px;
    border-radius: 10px;
}

.input-btn-go {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-go {
    position: relative;
    left: 10px;
}

#play-button {
    font-size: 1.25rem;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    border: 1px solid #91DDCF;
    background-color: #78f6f8;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#result-text {
    color: #071952;
    margin-bottom: 5px;
}

#result-text-2 {
   margin-top: 3px;
}

#reset-button {
    margin-top: 15px;
    font-size: 1rem;
    height: 40px;
    width: 170px;
    border-radius: 20px;
    border: 1px solid #F19ED2;
    background-color: #F19ED2;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#reset-button:hover {
    border: 1px solid #FF76CE;
    background-color: #FF76CE;
    color: #FDFFC2;
}

.direction {
    margin-top:8px;
    display: none;

}
.direction-2 {
    display:block;
}



@media (max-width: 768px) {
    .game-title {
        display: block;
    }

    .game-title h2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .game-title h1 {
        margin-top: 0px;
        padding-left: 0;
    }

    #chance-area,
    #attempts-area {
        font-size: 1.2rem;
    }   

    .game-title h3 {
        margin-top: -10px;
    }

    .game-title h1 {
        margin-top: -10px;
    }
    .input-btn-go {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .btn-go,
    .btn-result {
        position: static;
        padding-top: 10px;
    }
    .input-history {
        padding-left: 10%;
    }
    .direction {
        display: block;
    }
    .direction-2 {
        display:none;
    }
    #answer {
        padding-bottom: 15px;
    }
}



  